<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card jumbotron tarjetas animated fadeIn fast">
            <div class="card-body">
                <h1 class="text-center">REGISTER</h1>
                <form #projectForm="ngForm" [formGroup]="registerFrom" (ngSubmit)="onRegister()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Escriba su correco electronico." required formControlName="email" />
                        <mat-error class="error" *ngIf="isValidField('email')">
                            {{ getErrorMessage('email') }}
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Escriba su contraseña" formControlName="password" required />
                        <mat-error class="error" *ngIf="isValidField('password')">
                            {{ getErrorMessage('password') }}
                        </mat-error>
                    </div>
                    <button [disabled]="!projectForm.form.valid" type="submit" class="btn btn-primary btn-lg btn-block"> Register </button>
                </form>
                <div class="form-group mt-3">
                    <p>Do you have an account?<a class="irLogin" (click)="irLogin()"> Login </a></p>
                </div>
            </div>
        </div>
    </div>
</div>